extends ../../layout/default.pug
include ../../mixins/select-tree.pug
block main
    h1 Edit Product Category
    .card
        .card-body
            form(
                action=`${prefixAdmin}/products-category/editPatch/${category.id}?_method=PATCH`,
                method="POST",
                enctype="multipart/form-data"
            )
                .form-group
                    label(for="title") Title
                    input#title.form-control(
                        type="text",
                        name="title",
                        required,
                        value=category.title
                    )
                div(class="form-group")
                    label(for="parent-id") Parent Category
                    select(
                        name="parent_id"
                        id= "parent_id"
                        class="form-control"
                    )
                        option(value="") -- Select Parent Category --
                        if(newRecords)
                            +select-tree(newRecords,1,category.parent_id)
                .form-group
                    label(for="position") Position
                    input#position.form-control(
                        type="number",
                        name="position",
                        min="1",
                        value=category.position
                    )

                .form-group
                    label(for="status") Status
                    select#status.form-control(name="status")
                        option(value="active", selected=category.status === "active") Active
                        option(value="inactive", selected=category.status === "inactive") Inactive

                .form-group
                    label(for="thumbnail") Thumbnail
                    if category.thumbnail
                        img(src=category.thumbnail, width="150px", height="auto")
                    input#thumbnail.form-control(type="file", name="thumbnail")

                button.btn.btn-primary(type="submit") Update
                a.btn.btn-secondary(href=`${prefixAdmin}/products-category`) Cancel
