.sider 
    .inner-menu 
        ul 
            li 
                a(href=`${prefixAdmin}/dashboard`) Dashboard Page 
            li 
                a(href=`${prefixAdmin}/products`) Product List
            li 
                a(href=`${prefixAdmin}/products-category`) Product Categories
            li 
                a(href=`${prefixAdmin}/roles`) Roles
            li 
                a(href=`${prefixAdmin}/roles/permissions`) Authorization